@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic|Open+Sans:400,400italic,300,300italic);
h1 {
  font-family: 'Muli', sans-serif;
}
h2 {
  font-family: 'Muli', sans-serif;
}
h3 {
  font-family: 'Muli', sans-serif;
}
h4 {
  font-family: 'Muli', sans-serif;
}

h5 {
  font-family: 'Muli', sans-serif;
}

h6 {
  font-family: 'Muli', sans-serif;
}

small {
	font-family: 'Muli', sans-serif;
}

main small {
	font-family: 'Open Sans', sans-serif;
	color: #919191
}

p {
  font-family: 'Open Sans', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

footer {
	margin-top: 50px;
	padding: 10px;
	background-color: #353535;
	width: 100%;
	height: 270px;
	color: #ebebeb;
}

.header {
  width: 100%;
  height: 450px;
  background-image: url(../assets/england.jpg);
  background-size: 100% auto;
  background-position: center center;
  display: table;
  width: 100%;
}
.header .h-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.header h1 {
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: normal;
  font-size:100px;
  color: #eeeeee;
  opacity: 0.9;

}
.header small {
	font-size: 20px;
	color: #eeeeee;
	opacity: 0.9;
}

main h2 {
	color: #50c3e6;
	font-size: 35px;
}

main article {
	height: 150px;
	background-size: 100% auto;
	background-position: center center;
	transition: background-size 0.5s ease;
	cursor: pointer;
	display: table;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	border-left:  5px solid white;
}

main article .article-title {
	font-size: 35px;
	color: #eeeeee;
	opacity: 0.9;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

main article:hover {
	background-size: 130% auto;
}
.tweets {
	text-align: center;
}

@media (max-width: 991px) {
	main article {
		border: none;
	}
	.header {
		background-size: cover;
	}
	footer {
		height: auto;
	}
}